.users_list {
  list-style-type: none;
}

.user_list_item {
  border: 1px solid grey;
  padding: 5px;
  position: relative;
}

.li:focus {
  background-color: blue;
}

.Details {
  margin-left: 100px;
}

.user_avatar {
  size: 100%;
}

.User {
  display: flex;
}

.Details {
  border: 1px solid grey;
  margin-top: 15px;
}



.info_item:not(:last-child) {
  border-bottom: 1px solid grey;
}

.user_list_item:hover {
  background-color: blue;
}